<p class="text-center">Welcome to siki food </p>
<ul>
    <li>
       <a>
        <img  src="/assets/2.jpg"  >
              <div class="content">
                 
                     sandiwhtch 
                     <span 
                       class="favorite">&#x2764;
     
                     </span><br>
                     <span *ngFor="let star of stars" class="star" (click)="rate(star)" aria-checked="true" aria-readonly="false">&#9733;</span><br>
                     Tunis<br>
                     <span 
                     class="clock">🕒 20-30 m
   
                   </span><br>
                   <span 
                     class="price"> $ 30
   
                   </span><br>

                 
                 
                  

              </div>    
       </a>
    </li>




    <li> 
        <a>
           <img src="../assets/3.jpg"  />
           <div class="content">
            
                hamburgeur 
                <span 
                class="favorite">&#x2764;

                </span>
           
         

         </div>   
    
    
        </a>
   </li>

    <li><a><img src="../assets/6.jpg" /></a></li>

    <li> <a><img src="../assets/4.jpg" /></a></li>
    <li> <a><img src="../assets/1.jpg" /></a></li>
    <li> <a><img src="../assets/5.jpg" /></a></li>
    <li> <a><img src="../assets/3.jpg"  /></a></li>

    <li><a><img src="../assets/6.jpg" /></a></li>

    <li> <a><img src="../assets/4.jpg" /></a></li>
    <li> <a><img src="../assets/4.jpg" /></a></li>
    <li> <a><img src="../assets/4.jpg" /></a></li>


  
</ul>
