ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0%;
}

ul li a{
    height: 20rem;
    width: 17rem;
    border: 1px solid whitesmoke;
    border-radius: 0.5rem;
    margin: 1rem;
    display: block;
    flex-direction: column;
    overflow: hidden;
    color: red;
}
li a:hover { 
opacity: 0.9;
cursor: pointer;
}